page-mon-compte {
    ion-navbar {
      ion-title {
        text-align: center;
      }
  }

  ion-item.test-item-top {
    text-align: center;
    background-color: $bgcolor-custom;

    h2 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 25px;
    }

    h4 {
      font-size: 20px;
    }

    img {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }

  ion-content {
    ion-list {
      ion-list-header {
        h2 {
          text-align: center;
          font-size: 2em;
        }
      }

      ion-item {
        .label-file {
          cursor: pointer;
          color: #000000;
          font-weight: bold;
        }
        .input-file {
          opacity: 0;
        }

      }

      ion-item.button-center {
        text-align: center;

        button {
          background-color: $toolbar-background;
          color: #000000;
          width: 220px;
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }
      }

    }

    /*
    wrap text in a div, better option available ?
    ion-content {
      .wrap {
        white-space: normal;
      }
    }
    */
  }
}
