page-home {
  ion-navbar {
    text-align: center;
  }
  ion-card-header {
    text-align: center;
  }
  h1 {
    text-align: center;
    padding-top: 15px;
  }

  ion-slide {
    img {
      height: 200px !important;
    }
  }

  ion-icon.header-fav {
    font-size: 30px;
    float: right;
  }

  .article-titre {
    text-align: center;
    font-weight: bold;
    white-space: normal;
  }
}


