page-favoris {

ion-header {
  text-align: center;
}

  ion-card {
    ion-card-title {
      margin-top: -50px !important;
      text-align: center;
      background-color: #8e9093;
    }

    img {
      height: 300px;
    }
  }


}
